*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: #262626;
  color: #FFF;
  border: 3px solid cadetblue;
  height: 100%;
}

.image {
  height: 450px;
  width: 300px;
}

.movie-li {
  text-align: justify;
  padding: 20px;
}

.buttons {
  margin: 30px;
  padding: 20px;
  /*background: navajowhite;*/
  border: 3px dotted saddlebrown;
}

.view {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.search {
  height: 50px;
  width: 70px;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  color: lemonchiffon;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 30px;
}

h2 {
  font-style: italic;
  font-family: cursive;
  font-size: 1.5em;
  color: lightcoral;
}

h3 {
 color: darksalmon;
}

p {
  font-family: fantasy;
  color: #EEEEEE;
}